.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100vw;
  height: 424px;
  color: #ffffff;
  background-color: #1b3c74;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--poppins-font-family);
}

.footerLinks {
  width: 75%;
  height: 235px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.logoAndSocialHandles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.socialMediaIcons {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.socialMediaLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.organisationLinks {
  font-size: 1rem;
  list-style: none;
  line-height: 2.25rem;
  cursor: pointer;
}

.organisationLinks li:hover {
  color: #2aa8ff;
}

.serviceLinks {
  font-size: 1rem;
  list-style: none;
  line-height: 2.25rem;
  cursor: pointer;
}

.serviceLinks li:hover {
  color: #2aa8ff;
}

.copyright {
  width: 75%;
  height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
  font-size: 1rem;
}
