.hospitalList {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #e7f0ff, #e8f1ff);
  font-family: var(--poppins-font-family);
}

.space {
  height: 80px;
}

.upperBox {
  width: 100vw;
  height: 98px;
  background-color: #2aa7ff;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageHeading {
  width: 80%;
  height: 70%;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--ubuntu-font-family);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.searchResults {
  width: 80%;
  margin-top: 256px;
  margin-bottom: 124px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.mainHeading {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}

.subHeading {
  margin-top: 5px;
  margin-bottom: 24px;
  color: #787887;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.resultsAndAds {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 22px;
}

.resultCards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  width: 786px;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #ffffff;
}
