.intro {
  height: 736px;
  width: 100vw;
  background-image: linear-gradient(to bottom, #e7f0ff, #e8f1ff);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--poppins-font-family);
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
}

.textContainer {
  padding-top: 2.5rem;
  width: 560px;
}

.introSubHeading {
  color: #102851;
  font-size: 2rem;
  font-weight: 700;
}

.intoHeading {
  color: #000000;
  font-size: 3.5rem;
  font-weight: 700;
}

.blueHeading {
  color: #2aa7ff;
}

.introPara {
  color: #5c6169;
  font-size: 20px;
}

.findBtn {
  margin-top: 2rem;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  width: 170px;
  height: 50px;
  border-radius: 0.5rem;
  background-color: #2aa8ff;
  cursor: pointer;
}

.imageContainer {
  position: relative;
}

.checkupImage {
  position: absolute;
  top: 245px;
  right: -35px;
}
