.appDownload {
  width: 100vw;
  height: 542px;
  background-image: linear-gradient(to bottom, #e7f0ff, #e8f1ff);
}

.container {
  width: 80%;
  position: relative;
  font-family: var(--poppins-font-family);
}

.phones {
  position: absolute;
  left: 10%;
  top: +40px;
}

.contactForm {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 65%;
}

.headingStyles {
  position: relative;
}

.dots {
  position: absolute;
  top: -50px;
  left: -100px;
}

.lines {
  position: absolute;
  top: -30px;
  left: -45px;
}

.arrow {
  position: absolute;
  top: 60px;
  left: -75px;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  color: #1b37c4;
}

.heading span {
  color: #2aa7ff;
}

.subHeading {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: #414140;
}

.phoneNumberForm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#callingIds {
  height: 50px;
  padding: 0 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.phoneInput {
  height: 50px;
  width: 320px;
  padding: 0 20px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgb(157, 171, 186);
}

.sendBtn {
  width: 120px;
  height: 50px;
  margin-left: 15px;
  background-color: #2aa8ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.storeLinks {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
